*,
*:after,
*:before {
	box-sizing: border-box;
}

header {background-color: sandybrown; height: 15vh;}

main {background-color: darkkhaki; height: 60vh;}

footer {background-color: sandybrown; height: 15vh;}

body /*{
	background: var(--gradient-1);
    background: var(--gray-2);
	display: grid;
	place-items: center;
	min-height: 100vh;
	}*/


.título {font-style: italic; text-align: center; font-size: xx-large;}


main {display: grid;
	 place-items: center;
	 min-height: 100vh;}


.track-wrapper {
 width: 80%;
 max-inline-size: var(--size-content-3);
 overflow: hidden; 
}

img {
	height: 95%;
	width: 95%;
    position: center;
}

.track {
	--size: clamp(200px, 40vmin, 50rem);
	height: var(--size);
	width: 100%;
	display: flex;
	overflow: auto;
	gap: var(--size-4);
	list-style-type: none;
    margin: 0;
	/*background: hsl(0 0% 100% / 0.25);*/
	padding: var(--size-4) 33%;
	scroll-snap-type: x mandatory;
	/* Circular inverted */
	/* -webkit-mask-image: radial-gradient(ellipse at 50% 66%, black 0 30%, transparent 30%);
	/* No Scrollbar */
	/* -webkit-mask: radial-gradient(#0000 0 30%, #000 30%) 50% 20vmin / 240% 100%;*/
	/* Winner */
	/*-webkit-mask: radial-gradient(#0000 0 30%, #000 30%) 50% calc(var(--size) * 0.5) / 250% 100%,
								linear-gradient(0deg, black, black) 50% 0 / 100% var(--size-4) no-repeat,
								linear-gradient(0deg, black, black) 50% 100% / 100% var(--size-4) no-repeat;
    -webkit-mask: radial-gradient(#0000 0 30%, #000 30%) 50% calc(var(--size) * 0.5) / 300% 100%,
								linear-gradient(0deg, black, black) 50% 0 / 100% var(--size-4) no-repeat,
								linear-gradient(0deg, black, black) 50% 100% / 100% var(--size-4) no-repeat;*/	

}

.track__item {
	height: 100%;
	aspect-ratio: 1;
	scroll-snap-align: center;
	background-color: sandybrown;
}

.track__item img {
    background-color: aliceblue;
    padding: 2px; 
    margin: 2px; 
    border: 1px solid black; 
    margin-top: 6px;}

/*h1 {
  position: fixed;
  margin: 0;
  opacity: 0.5;
  bottom: var(--size-3);
  right: var(--size-3);
  font-size: var(--font-size-fluid-1);
}*/

p  {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-align: center; 
    font-size: x-large; 
    background-color: darkkhaki; 
    border-radius: 10px;
    margin-top: 100px;}
h2 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-align: center;}
h3 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-align: center;}

h2, h3 {margin-top: 30px;}  
